version: '3.8'

services:
  aml-daily-task:
    build: .
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgresql+psycopg2://root:postgre%40123@db:5432/task_container_db
      - TASK_SAMPLE=*/30 * * * *
      - TASK_DAILY=0 2 * * *
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs  # 如果有日志目录的话
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: task_container_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: postgre@123
    ports:
      - "35432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge